{% extends 'base.html' %}

{% block content %}
<section class="flex-col w-full text-center">
    {% if accounts|length == 0 %}
        <p>Add a credit card to choose which pot to sync with</p>
    {% endif %}

    <ul class="flex flex-wrap justify-center mb-5 text-base font-semibold text-center" data-tabs-toggle="#tab-content" data-tabs-inactive-classes="text-white dark:text-white">
        {% for account in accounts %}
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="{{ account.type|replace(' ', '') }}-tab" data-tabs-target="#{{ account.type|replace(' ', '') }}" type="button" role="tab" aria-controls="{{ account.type|replace(' ', '') }}" aria-selected="false">
                    {{ account.type }}
                </button>
            </li>
        {% endfor %}
    </ul>

    <div id="tab-content">
        {% for account in accounts %}
            <div class="hidden" id="{{ account.type|replace(' ', '') }}" role="tabpanel" aria-labelledby="{{ account.type|replace(' ', '') }}-tab">
                {% if account.description %}
                    <p class="mb-3 text-sm">Authorized account: {{ account.description }}</p>
                {% endif %}
                <!-- Add more content here if needed -->
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}