{% extends 'base.html' %}

{% block content %}
<section class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Simplify Your Spend</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200">
            Day-to-day spend on credit cards? You're not alone!
            <br /><br />
            Automatically keep track, and move money to a Monzo pot of your choice. No need to open the Monzo app everytime you buy a coffee!</p>
    </div>
    <div class="bg-gradient-to-b from-blue-50 to-transparent dark:from-gray-800 w-full h-full absolute top-16 left-0 z-0"></div>
</section>
{% endblock %}