{% extends 'base.html' %}

{% block content %}
<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <form class="space-y-3" action="{{ url_for('switch.select_account') }}" method="post">
    <div>
      <label for="account_id" class="block mb-2 text-sm font-medium">Select Account for Sync</label>
      <select name="account_id" id="account_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
        {% for account in accounts %}
          <option value="{{ account.id }}"
                  {% if account.id == selected_account_id %}selected{% endif %}>
            {{ account.description }} ({{ account.owner_type }})
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="w-full mt-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Switch Account
    </button>
  </form>
</div>
{% endblock %}
